<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MxBots.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MxBots.Properties.Settings>
            <setting name="nombre_choix" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="first_use" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="routines_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="showconsole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showballoon" serializeAs="String">
                <value>True</value>
            </setting>
        </MxBots.Properties.Settings>
    </userSettings>
</configuration>